/**Global parameters***/

* {
  box-sizing: border-box;
  color: black;
}

body {
  max-width: 1400px;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

/********Headers*******/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 25px 0 55px;
}

#logobooki {
  width: 61.09px;
  height: 19px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar li a {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  padding: 0 40px 0 40px;
  text-align: center;
  text-decoration: none;
  height: 100%;
  border-top: 3px solid transparent;
}

.navbar li a:hover {
  font-weight: 500;
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

/********Search h1 p*******/
main h1 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  margin: 5px 0 5px 0;
}

#sectionSearch {
  margin: 0 25px 0 55px;
}

#sectionSearch p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 8px 0 20px 0;
}

/******Search******/
.divSearch img#mapmarker {
  display: inline-block;
  width: 50px;
  height: 48px;
  padding: 14px 17px 14px 17px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0 0 15px;
}

/******* Search : Form ******/
form {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 10px 0 10px 0;
}

input[type="search"] {
  height: 48px;
  border-left: none;
  border-right: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 0 25px 0 15px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input[type="search"]::placeholder {
  color: black;
  font-weight: 700;
}

form button {
  width: 132px;
  height: 50px;
  background-color: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0 15px 15px 0;
  font-weight: 700;
  color: #fff;
}

form button:hover {
  cursor: pointer;
}

/******* Filters ******/

#divFilters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 31px 0 0 7px;
}

#divFilters #titleFilter {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0 32px 0 0;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.oneFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  box-sizing: border-box;
  padding: 0 10px 0 15px;
  margin: 0 50px 0 0;
  border: black 2px solid;
  border-color: #d9d9d9;
  border-radius: 100px;
}

.oneFilter i {
  display: flex;
  color: #0065fc;
  background-color: #fff;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#divFilters .textFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 700;
  padding: 8px 15px 0 5px;
}

#dog {
  padding-bottom: 3px;
}
#icon {
  padding-bottom: 1px;
}

.oneFilter:hover,
.oneFilter:active {
  background-color: #deebff;
  cursor: pointer;
}

.oneFilter:hover i,
.oneFilter:active i {
  background-color: #deebff;
  cursor: pointer;
}

/******* Filter : Info ******/
.info {
  display: flex;
  align-items: center;
  margin: 18px 0 18px 3px;
}

.info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0 0 12px;
}

.info i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  padding: 5px 10px 5px 10px;
  color: #0065fc;
}

/******* Accomodation ******/

.accomodationMarseille h2 {
  font-size: 22px;
  font-weight: 700px;
  font-style: normal;
  margin: 42px 0 0 40px;
}

.accomodations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 40px 0 50px;
}

.accomodations button {
  display: flex;
  width: 107px;
  color: black;
  font-weight: 700;
  background: none;
  text-decoration: none;
  border: none;
  margin: 30px 0px 30px 33px;
}

.accomodations:hover {
  cursor: pointer;
}

/******* Card Accomodations******/
.accomodationMarseille {
  display: flex;
  flex-direction: column;
  width: 69%;
  margin-right: 40px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  width: 30%;
  height: 199px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 25px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card a {
  color: black;
  text-decoration: none;
}

.cardImage {
  display: flex;
  overflow: hidden;
  max-height: 120px;
  margin: 5px;
  border-radius: 20px 20px 0 0;
}

.cardImage img {
  object-fit: cover;
  width: 100%;
}

.cardBody {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
}

.cardBody p {
  margin: 2px 0 2px 0;
}

.cardTitle {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.cardPrice {
  font-size: 14px;
  font-weight: 400;
}

.cardStars {
  display: flex;
  margin: 2px 0 4px 0;
}

.fa-star {
  color: #0065fc;
}
/*******Popular********/
.popular {
  background-color: #f2f2f2;
  width: 30%;
  border-radius: 20px;
}

.chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chart h2 {
  font-size: 22px;
  margin: 40px 0 0 35px;
}

.chart i {
  padding: 45px 30px 0 0;
  color: #0065fc;
}

/***** Card Popular *****/
.cardsPopularAll {
  display: flex;
  flex-direction: column;
  padding: 0 30px 5px 30px;
}

.cardPop {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 144px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.cardPop:hover {
  transform: scale(1.1);
}

.cardPop a {
  display: flex;
  color: black;
  text-decoration: none;
}

.cardImagePop {
  width: 33%;
  overflow: hidden;
  margin: 5px;
  border-radius: 20px 0 0 20px;
}

.cardImagePop img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cardBodyPop {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0 15px;
  width: 66%;
}

.cardBodyPop p {
  margin: 4px 0 4px 0;
}

.cardTitlePop {
  font-weight: 700;
  font-size: 16px;
  color: black;
}

.cardPricePop {
  font-size: 14px;
  font-weight: 400;
}

.cardStarsPop {
  display: flex;
  flex: 1;
  align-items: flex-end;
  width: max-content;
}

.cardStarsPop i {
  margin-bottom: 12px;
}
